body {
  background-image: url("/images/account.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

h1, h3 {
  font-family: 'Patrick Hand', cursive;
}

.checkbox-style {
  width: 20px;
  height: 20px;
}

.checkbox-style:hover {
  cursor: pointer;
}

.table {
	background-color: rgba(255,255,255,0.5);
}

tbody tr:hover {
	background-color: rgba(214,41,136,0.5);
}