body {
  background-image: url("/images/account.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.checkbox-style {
  width: 20px;
  height: 20px;
}

.checkbox-style:hover {
  cursor: pointer;
}
