.main {
  margin-bottom: 30px;
}

.navbar-right-pos {
  margin-right: 10px;
}

.navbar-logo {
  width: 200px;
  margin-left: 50px;
}

.btn-primary {
  background-color: #00a0d6;
  border-color: #00a0d6;
}

.btn-primary:hover {
  color: white !important;
  background-color: #0082ad !important;
  border-color: #0082ad !important;
}

.btn-primary:active,
.btn-primary:focus {
  outline: none !important;
  color: white !important;
  background-color: #006688 !important;
  border-color: #006688 !important;
}

.signup-btn {
  margin-left: 10px;
}

.btn-success {
  background-color: #c0257a;
  border-color: #c0257a;
}

.btn-success:hover {
  color: white;
  background-color: #921d5e;
  border-color: #921d5e;
}

.btn-success:active {
  color: white !important;
  background-color: #691644 !important;
  border-color: #691644 !important;
}

.btn-link {
  text-decoration: none !important;
}

.link-style {
  font-weight: 600 !important;
  font-size: 13pt !important;
}

.nav-link {
  color: #0082ad !important;
  font-size: 1.4em;
}

.nav-link:hover {
  color: #c0257a !important;
  font-size: 1.4em;
}

.btn-light {
  background-color: #25c08c;
  border-color: #25c08c;
}

.btn-light:hover {
  background-color: #21a579;
  border-color: #21a579;
}

.btn-light:active {
  background-color: #197959 !important;
  border-color: #197959 !important;
}

.button-link,
.button-link:hover,
.button-link:active {
  color: white;
  text-decoration: none;
}

.login-error {
  color: #c0257a;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.label-style {
  font-size: 14pt;
  font-weight: bold;
}

/********************************************************/
/*Typewriter Animation*/
.line-1 {
  color: #691644;
  font-weight: bold;
  position: relative;
  top: 50%;
  width: 24em;
  margin: 300 auto;
  border-right: 2px solid #691644;
  font-size: 380%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 2s steps(15) 1s 1 normal both,
    blinkTextCursor 500ms steps(15) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10.5em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #691644;
  }
  to {
    border-right-color: transparent;
  }
}
