body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/images/account.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.col-width {
  width: 20%;
}

.table {
  background-color: rgba(255, 255, 255, 0.5);
}
